* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}

.sidebar header {
    background-color: orangered;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

ul li a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 65px;
    color: gray;
    padding-left: 50px;
    box-sizing: border-box;
    transition: .4s;
}

ul li:hover a {
    border-bottom: 1px solid orangered;
    color: orangered;
    padding-left: 60px;
    text-decoration: none;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1;
    color: grey;
    left: -195px;
    top: 17px;
    font-size: 30px;
    padding: 24px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~#btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    color: rgb(0, 0, 0);
    left: 195px;
}